@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//? Police d'écriture
$kanit: "Kanit", sans-serif;

//? Couleur
$color2: #ffffff;
$color3: #ece5d8;
$color4: #066aff;
$color5: #000000;
$color6: #5967ba;
$color7: #3170e5;
$color8: #1c1b29;
$color10: #7d7d7e;
$color11: #83a2d1;
$color14: #b3c4df;
$color15: #ba5959;
$color17: #324569;
$color18: #44577e;
$color19: #d8cfbd;

$cache: #00000075;

$characters-have: #6fa2f0;
$characters-have-even: #5e8fda;
$characters-doing: #c2731f;
$characters-doing-even: #b45f06;
$characters-doing-havnt: #c79d1e;
$characters-doing-havnt-even: #bf9000;
$characters-have-and-done: #49794f;
$characters-have-and-done-even: #3f6d45;

$material-require: #cec14e;
$material-require-even: #b9ad3b;
$material-require-and-done: #7dce4e;
$material-require-and-done-even: #6dbb41;
$material-only-need-and-done: #7dce4e;
$material-only-need-and-done-even: #6dbb41;
$material-synthesis-ok: #abe689;
$material-synthesis-ok-even: #93cf71;

//? Z-index
$z-index-one: 1;
$z-index-two: 2;
$z-index-three: 3;
$table-head: 4;
$weapons-research-list: 5;
$left-container: 6;
$left-nav-button: 7;
$left-content-box: 8;
$cache-z-index: 9;